<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.linkclean</string>
	<key>connections</key>
	<dict>
		<key>390C73DF-C34D-45A0-B7C5-C0B74C1F9FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>630129C2-A7B6-480C-B4F4-7088EAEF71B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94E56B10-92C1-4A64-8D2F-E2D22A0D2AAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7D6699F-FC18-4DB5-A6ED-EE17A07868AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E51153A7-6839-42AB-A890-9BF850973E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB0DF403-7E48-47D5-9141-C774A2C4950C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51153A7-6839-42AB-A890-9BF850973E82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFC25DDE-7F2E-4A61-A2D0-0B4549044CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Remove extraneous information from URLs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Link Clean</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>630129C2-A7B6-480C-B4F4-7088EAEF71B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:clean_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Grabbing URL from clipboard…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/linkclean_functions.rb"

display_options</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Removes extraneous information from URLs</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FFC25DDE-7F2E-4A61-A2D0-0B4549044CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/linkclean_functions.rb"

print clean_url(follow_redirects(ARGV[0]))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Clean URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>390C73DF-C34D-45A0-B7C5-C0B74C1F9FBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB0DF403-7E48-47D5-9141-C774A2C4950C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>clean</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>94E56B10-92C1-4A64-8D2F-E2D22A0D2AAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>B7D6699F-FC18-4DB5-A6ED-EE17A07868AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/linkclean_functions.rb"

print(clipboard_url)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E51153A7-6839-42AB-A890-9BF850973E82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Remove [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters), mobile subdomains, and other clutter from URLs via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action to clean link](images/about/ua.png)

Alternatively, configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to clean a selected URL or use the `lc` keyword to declutter the last copied URL.

![Keyword to clean link](images/about/lc.png)

Redirects are followed before cleaning and the result is pasted to the frontmost app.</string>
	<key>uidata</key>
	<dict>
		<key>390C73DF-C34D-45A0-B7C5-C0B74C1F9FBA</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>630129C2-A7B6-480C-B4F4-7088EAEF71B2</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>87BE9FDE-D40E-46A8-B0CF-10D7D63F9352</key>
		<dict>
			<key>note</key>
			<string>Clean URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>94E56B10-92C1-4A64-8D2F-E2D22A0D2AAC</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>B7D6699F-FC18-4DB5-A6ED-EE17A07868AB</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>CB0DF403-7E48-47D5-9141-C774A2C4950C</key>
		<dict>
			<key>note</key>
			<string>From selection</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>E51153A7-6839-42AB-A890-9BF850973E82</key>
		<dict>
			<key>note</key>
			<string>Grab URL from clipboard</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>FFC25DDE-7F2E-4A61-A2D0-0B4549044CAA</key>
		<dict>
			<key>note</key>
			<string>From argument or clipboard</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>lc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clean Kewyord</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>clean_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/link-clean-workflow/</string>
</dict>
</plist>
